/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_top.scss */
.fenlei_wz {
  line-height: 40px;
  color: beige;
  font-size: 14px;
}

/* line 12, ../sass/_top.scss */
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #f6f6f6;
}

/* line 18, ../sass/_top.scss */
.top {
  width: 100%;
  height: 30px;
  background: black;
}
/* line 22, ../sass/_top.scss */
.top .top_ {
  width: 1090px;
  height: 30px;
  margin: 0 auto;
  display: flex;
}
/* line 27, ../sass/_top.scss */
.top .top_ .top_zuo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 272px;
  height: 30px;
}
/* line 33, ../sass/_top.scss */
.top .top_ .top_zuo .hello {
  color: #949393;
  font-size: 12px;
}
/* line 39, ../sass/_top.scss */
.top .top_ .kaola {
  width: 72px;
  height: 30px;
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 48, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi {
  color: #949393;
  font-size: 12px;
}
/* line 51, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian {
  width: 116px;
  height: 160px;
  padding: 5px 5px 0 5px;
  border: 1px solid black;
  background: blanchedalmond;
  position: absolute;
  left: -10px;
  top: 30px;
  z-index: 10;
  display: none;
}
/* line 62, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian .kaola_img {
  width: 116px;
  height: 116px;
}
/* line 66, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian .ac {
  width: 116px;
  height: 43px;
  font-size: 13px;
  color: black;
  line-height: 18px;
}
/* line 75, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi:hover {
  color: beige;
  cursor: pointer;
}
/* line 79, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi:hover .kaola_tupian {
  display: block;
}
/* line 83, ../sass/_top.scss */
.top .top_ .top_zhong {
  width: 167px;
  height: 30px;
}
/* line 87, ../sass/_top.scss */
.top .top_ .top_you {
  width: 651px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 93, ../sass/_top.scss */
.top .top_ .top_you .hello {
  color: #949393;
  font-size: 12px;
}
/* line 97, ../sass/_top.scss */
.top .top_ .top_you .icon-xiasanjiaoxing {
  font-size: 10px;
}
/* line 101, ../sass/_top.scss */
.top .top_ .wo:hover {
  color: beige;
  cursor: pointer;
}

/* line 109, ../sass/_top.scss */
.tou_ding {
  width: 1519px;
  height: 100px;
  background: #fff;
}
/* line 113, ../sass/_top.scss */
.tou_ding .tou {
  width: 1090px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 122, ../sass/_top.scss */
.tou_ding .tou .kl {
  width: 280px;
  height: 65px;
}
/* line 127, ../sass/_top.scss */
.tou_ding .tou .sskuang_da {
  height: 40px;
  width: 510px;
  display: flex;
  border: 2px solid red;
  border-radius: 50px;
  position: relative;
}
/* line 134, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .sskuang {
  position: absolute;
  width: 410px;
  height: 24px;
  top: 5px;
  left: 15px;
  border: none;
  outline: none;
}
/* line 143, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .sousuo {
  width: 60px;
  height: 40px;
  border-radius: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  position: absolute;
  left: 455px;
}
/* line 153, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .icon-sousuo {
  width: 50px;
  height: 40px;
  font-size: 24px;
  color: beige;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 7px;
}
/* line 164, ../sass/_top.scss */
.tou_ding .tou .gouwu {
  width: 110px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}
/* line 173, ../sass/_top.scss */
.tou_ding .tou .gouwu .icon-gouwuche {
  width: 20px;
  height: 20px;
  color: red;
  font-size: 27px;
  margin-top: -7px;
  font-weight: 550;
}
/* line 181, ../sass/_top.scss */
.tou_ding .tou .gouwu .gouwc {
  font-size: 16px;
}

/* line 189, ../sass/_top.scss */
.xuanfu {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  top: -50px;
  left: 0px;
  z-index: 109;
}
/* line 197, ../sass/_top.scss */
.xuanfu .xuanfu_zhong {
  width: 1090px;
  height: 50px;
  margin: 0 auto;
}
/* line 201, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .tu {
  width: 162px;
  height: 40px;
  margin-right: 200px;
  float: left;
}
/* line 207, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da {
  float: left;
  height: 40px;
  width: 510px;
  display: flex;
  border: 2px solid red;
  border-radius: 50px;
  position: relative;
}
/* line 215, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .sskuang {
  position: absolute;
  width: 410px;
  height: 24px;
  top: 5px;
  left: 15px;
  border: none;
  outline: none;
}
/* line 224, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .sousuo {
  width: 60px;
  height: 40px;
  border-radius: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  position: absolute;
  left: 455px;
}
/* line 234, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .icon-sousuo {
  width: 50px;
  height: 40px;
  font-size: 24px;
  color: beige;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 7px;
}

/* line 248, ../sass/_top.scss */
.ding {
  width: 1519px;
  height: 40px;
  background: #fff;
}
/* line 252, ../sass/_top.scss */
.ding .daohanl {
  width: 1090px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}
/* line 259, ../sass/_top.scss */
.ding .daohanl .bao {
  width: 164px;
  height: 280px;
  margin-right: 20px;
  z-index: 100;
}
/* line 265, ../sass/_top.scss */
.ding .daohanl .bao .fenlei {
  width: 164px;
  height: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  border-bottom: 1px solid beige;
}
/* line 271, ../sass/_top.scss */
.ding .daohanl .bao .fenlei .icon-fenlei {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 278, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 {
  width: 164px;
  height: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  border-bottom: 1px solid beige;
  position: relative;
}
/* line 285, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .icon-meizhuang {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 291, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav {
  width: 931px;
  height: 460px;
  background: #fff;
  position: absolute;
  left: 164px;
  top: 0;
  display: none;
}
/* line 299, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo {
  float: left;
  width: 658px;
  height: 460px;
  margin: 0px 20px 0px 15px;
  position: relative;
}
/* line 306, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang {
  width: 658px;
  height: 187px;
  display: flex;
}
/* line 310, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 317, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo {
  width: 329px;
  height: 187px;
}
/* line 320, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 327, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei {
  width: 283px;
  height: 136px;
}
/* line 330, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 340, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .hong {
  color: #ff1e32;
}
/* line 343, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 348, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you {
  width: 329px;
  height: 153px;
}
/* line 351, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 358, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei {
  width: 283px;
  height: 102px;
}
/* line 361, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 371, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .hong {
  color: #ff1e32;
}
/* line 374, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 380, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong {
  display: flex;
  width: 658px;
  height: 187px;
  position: relative;
}
/* line 385, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 392, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo {
  width: 329px;
  height: 187px;
}
/* line 395, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 402, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei {
  width: 283px;
  height: 136px;
}
/* line 405, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 415, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .hong {
  color: #ff1e32;
}
/* line 418, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 423, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you {
  width: 329px;
  height: 153px;
}
/* line 426, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 433, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei {
  width: 283px;
  height: 102px;
}
/* line 436, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 446, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .hong {
  color: #ff1e32;
}
/* line 449, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 455, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia {
  width: 658px;
  height: 86px;
  position: relative;
}
/* line 459, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 466, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 473, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 {
  width: 283px;
  height: 51px;
}
/* line 478, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 488, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .hong {
  color: #ff1e32;
}
/* line 491, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .cde2:hover {
  text-decoration: underline;
}
/* line 497, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you {
  float: right;
  width: 233px;
  height: 460px;
}
/* line 501, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_shang {
  width: 218px;
  height: 322px;
  padding: 9px 8px 0 11px;
  background: #f6f6f6;
}
/* line 506, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_shang .blank {
  float: left;
  width: 105px;
  height: 104px;
  padding: 2px;
}
/* line 513, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_xia {
  width: 237px;
  height: 128px;
  background: #f6f6f6;
}
/* line 517, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_xia .blan {
  width: 208px;
  height: 88px;
  padding: 20px 18px 20px 11px;
}
/* line 526, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2:hover .sub_nav {
  display: block;
}
/* line 529, ../sass/_top.scss */
.ding .daohanl .bao .icon-muying {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 535, ../sass/_top.scss */
.ding .daohanl .bao .icon-shumajiadianleimu {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 541, ../sass/_top.scss */
.ding .daohanl .bao .icon-xihu {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 547, ../sass/_top.scss */
.ding .daohanl .bao .icon-fushi {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 553, ../sass/_top.scss */
.ding .daohanl .bao .icon-meishi- {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 561, ../sass/_top.scss */
.ding .daohanl .daohan_lan {
  width: 735px;
  height: 40px;
}
/* line 564, ../sass/_top.scss */
.ding .daohanl .daohan_lan .ulo {
  width: 735px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 570, ../sass/_top.scss */
.ding .daohanl .daohan_lan .ulo .li1 {
  font-weight: 600;
  line-height: 40px;
  height: 40px;
}

/* line 580, ../sass/_top.scss */
.guanggao {
  width: 1920px;
  height: 505px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 587, ../sass/_top.scss */
.guanggao .ue {
  width: 1920px;
  height: 505px;
  position: relative;
}
/* line 591, ../sass/_top.scss */
.guanggao .ue li {
  width: 1920px;
  height: 505px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/* line 598, ../sass/_top.scss */
.guanggao .ue li img {
  width: 100%;
  height: 505px;
  left: -200px;
  position: absolute;
}
/* line 612, ../sass/_top.scss */
.guanggao .ol {
  float: left;
  display: block;
  width: 45px;
  height: 9px;
  position: absolute;
  left: 450px;
  bottom: 100px;
}
/* line 620, ../sass/_top.scss */
.guanggao .ol li {
  float: left;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  text-indent: -99999px;
}
/* line 631, ../sass/_top.scss */
.guanggao .ol li.active {
  background: red;
}
/* line 636, ../sass/_top.scss */
.guanggao #left,
.guanggao #right {
  width: 34px;
  height: 68px;
  line-height: 58px;
  text-align: center;
  font-family: 'microsoft yahei';
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 40%;
  margin-top: -30px;
  background-color: rgba(43, 42, 42, 0.3);
  display: none;
}
/* line 652, ../sass/_top.scss */
.guanggao #left {
  left: 400px;
}
/* line 655, ../sass/_top.scss */
.guanggao #right {
  right: 700px;
}
/* line 658, ../sass/_top.scss */
.guanggao .imgs_touming {
  width: 1519px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0px;
}
/* line 664, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei {
  width: 1090px;
  height: 44px;
  margin: 0 auto;
}
/* line 668, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo {
  width: 468px;
  height: 44px;
}
/* line 671, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo .imgs_a {
  width: 77px;
  height: 44px;
  text-decoration: none;
  margin-right: 40px;
}
/* line 676, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo .imgs_a .imgs_a_sp {
  margin-left: 7px;
  font-size: 12px;
  line-height: 44px;
  color: beige;
}
/* line 684, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_a:hover .imgs_a_sp {
  text-decoration: underline;
  color: beige;
}
/* line 688, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_you {
  width: 256px;
  height: 44px;
  position: absolute;
  bottom: 0px;
  right: 215px;
}
/* line 694, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_you .imgs_b {
  font-size: 12px;
  line-height: 44px;
  color: beige;
  text-decoration: none;
}
/* line 701, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_b:hover {
  text-decoration: underline;
  color: beige;
}

/* line 709, ../sass/_top.scss */
.guanggao:hover #left {
  display: block;
}

/* line 713, ../sass/_top.scss */
.guanggao:hover #right {
  display: block;
}

/* line 717, ../sass/_top.scss */
#content {
  width: 100%;
  height: 370px;
  position: relative;
  margin-top: 20px;
}
/* line 722, ../sass/_top.scss */
#content .content-center {
  width: 1090px;
  height: 100%;
  margin: 0 auto;
  background: url(../images/neirong.png) -400px 0;
  overflow: hidden;
}
/* line 730, ../sass/_top.scss */
#content .center_left {
  width: 99px;
  height: 653px;
  border: 1px solid #eaeaea;
  border-top: none;
  position: absolute;
  top: 0px;
  left: 80px;
}
/* line 739, ../sass/_top.scss */
#content .center_left img {
  width: 99px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}
/* line 746, ../sass/_top.scss */
#content .center_left .channel {
  width: 99px;
  height: 103px;
  background: #fff;
}
/* line 750, ../sass/_top.scss */
#content .center_left .channel .ab {
  width: 97px;
  height: 51px;
  border-bottom: 1px solid #eaeaea;
}
/* line 754, ../sass/_top.scss */
#content .center_left .channel .ab .j_floor {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 9px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}
/* line 764, ../sass/_top.scss */
#content .center_left .channel .ab .j_floor:hover {
  background: #f7f4f4;
  color: red;
}
/* line 770, ../sass/_top.scss */
#content .center_left .channel2 {
  width: 99px;
  height: 373px;
  background: #fff;
}
/* line 774, ../sass/_top.scss */
#content .center_left .channel2 .ac {
  width: 97px;
  height: 32px;
}
/* line 777, ../sass/_top.scss */
#content .center_left .channel2 .ac .q_floor {
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 9px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}
/* line 786, ../sass/_top.scss */
#content .center_left .channel2 .ac .q_floor:hover {
  background: #f7f4f4;
  color: red;
}
/* line 792, ../sass/_top.scss */
#content .center_left .tu1 {
  width: 100%;
  height: 128px;
  vertical-align: middle;
  display: inline-block;
}
/* line 799, ../sass/_top.scss */
#content .center_right {
  width: 62px;
  height: 243px;
  background: lightcoral;
  float: right;
  position: absolute;
  top: 0px;
  right: 100px;
  border: 1px solid #eaeaea;
}
/* line 808, ../sass/_top.scss */
#content .center_right .li2 {
  width: 62px;
  height: 49px;
  display: block;
  padding: 12px 0 0;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
/* line 818, ../sass/_top.scss */
#content .center_right .li2 .iconfont {
  width: 20px;
  height: 20px;
}
/* line 822, ../sass/_top.scss */
#content .center_right .li2 span {
  margin-top: 3px;
  width: 62px;
  height: 17px;
  display: inline-block;
}
/* line 829, ../sass/_top.scss */
#content .center_right .li2:hover {
  background: #f7f4f4;
  color: red;
}

/* line 836, ../sass/_top.scss */
.fli2 {
  width: 1519px;
  height: 455px;
  margin-top: 40px;
}
/* line 840, ../sass/_top.scss */
.fli2 .fli2_2 {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
  position: relative;
}
/* line 846, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang {
  width: 1100px;
  height: 48px;
  padding-top: 25px;
}
/* line 850, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-right: 10px;
}
/* line 856, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big_1 {
  display: inline-block;
  color: #ccc;
  font-size: 15px;
}
/* line 861, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .collapse {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  text-align: center;
  color: #fff;
  line-height: 20px;
}
/* line 871, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .split-dot {
  display: inline-block;
  color: #ccc;
  font-weight: 600;
}
/* line 876, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big_3 {
  position: absolute;
  top: 26px;
  right: 0;
  color: #999;
}
/* line 883, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia {
  width: 1101px;
  height: 380px;
}
/* line 886, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 {
  width: 841px;
  height: 381px;
  float: left;
}
/* line 890, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li {
  width: 419px;
  height: 189px;
  float: left;
}
/* line 895, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li img {
  display: inline-block;
  float: left;
  width: 188px;
  height: 188px;
}
/* line 901, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you {
  float: left;
  width: 205px;
  height: 188px;
  background: #fff;
  position: relative;
  padding-right: 25px;
}
/* line 908, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .intro {
  width: 205px;
  height: 21px;
  margin: 16px 0 6px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
/* line 916, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .intro:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 920, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .shar {
  width: 205px;
  height: 36px;
  line-height: 16px;
  font-size: 12px;
  color: #999;
}
/* line 927, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .shar:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 931, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .pric {
  width: 100%;
  height: 30px;
  margin: 0 0 33px;
  font-size: 20px;
  font-weight: 700;
}
/* line 937, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .pric b {
  font-size: 20px;
  font-weight: 600;
  color: #ff1e32;
}
/* line 942, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .pric .sp {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin-left: 4px;
}
/* line 948, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .pric del {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through;
  margin-left: -6px;
}
/* line 956, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you .procim {
  width: 100px;
  height: 18px;
  margin-left: 4px;
  font-size: 14px;
  color: #ff1e32;
  line-height: 18px;
}
/* line 964, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you a {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 80px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ff1e32;
  text-align: center;
  font-size: 14px;
  color: #ff1e32;
  text-decoration: none;
  border-radius: 36px;
}
/* line 982, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ja {
  width: 263px;
  height: 380px;
  float: right;
  margin-left: -5px;
}

/* line 992, ../sass/_top.scss */
.fli3 {
  width: 1519px;
  height: 853px;
  margin-top: 40px;
}
/* line 996, ../sass/_top.scss */
.fli3 .fli3_2 {
  width: 1090px;
  height: 853px;
  margin: 0 auto;
}
/* line 1000, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang {
  border-top: 1px solid #eaeaea;
  width: 1100px;
  height: 74px;
  padding-top: 25px;
  position: relative;
}
/* line 1007, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang .big {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-right: 10px;
}
/* line 1013, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang .big_1 {
  display: inline-block;
  color: #ccc;
  font-size: 15px;
}
/* line 1018, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang a {
  margin-left: 24px;
  font-size: 14px;
  color: #999;
  text-decoration: none;
}
/* line 1024, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang .big_10 {
  color: red;
}
/* line 1027, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang a:hover {
  text-decoration: underline;
}
/* line 1030, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_shang .big_3 {
  position: absolute;
  top: 26px;
  right: 0;
  color: #999;
}
/* line 1037, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia {
  width: 1100px;
  height: 541px;
  position: relative;
  border: 1px solid #eaeaea;
}
/* line 1042, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia img {
  width: 330px;
  height: 541px;
  float: left;
}
/* line 1047, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur {
  width: 306px;
  height: 100px;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
/* line 1053, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur .ur_li {
  width: 82px;
  height: 42px;
  float: left;
  margin: 0 18px 8px 0;
  border: 1px solid #ccc;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  line-height: 42px;
}
/* line 1063, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur .ur_li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
/* line 1070, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 {
  width: 555px;
  height: 540px;
  float: left;
}
/* line 1074, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 .ur2_li {
  width: 274px;
  height: 270px;
  background: #fff;
  margin: 1px;
  float: left;
}
/* line 1080, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 .ur2_li a {
  display: inline-block;
  width: 274px;
  height: 230px;
  padding: 30px 0 0;
  text-decoration: none;
}
/* line 1086, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 .ur2_li a .tit {
  width: 254px;
  height: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0 10px;
  text-align: center;
  color: black;
}
/* line 1096, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 .ur2_li a .desc {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 10px 14px;
  color: #666;
  width: 254px;
  height: 20px;
  text-align: center;
}
/* line 1105, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .ur2 .ur2_li a img {
  width: 180px;
  height: 140px;
  display: inline-block;
  margin-left: 47px;
}
/* line 1114, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you {
  width: 215px;
  height: 541px;
  float: left;
  background: #fff;
}
/* line 1119, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .you_shang {
  width: 208px;
  height: 58px;
  font-size: 16px;
  line-height: 58px;
  padding: 0 0 0 10px;
  color: #333;
  font-weight: 700;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
/* line 1130, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr {
  width: 215px;
  height: 479px;
  position: relative;
}
/* line 1134, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 {
  width: 205px;
  height: 92px;
  border-bottom: 1px dotted #e9e9e9;
  padding: 27px 14px 0 0;
  overflow: hidden;
}
/* line 1140, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 img {
  width: 75px;
  height: 75px;
}
/* line 1145, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 h3 {
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  font-size: 13px;
  color: #666;
}
/* line 1152, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 .titl {
  display: inline-block;
  width: 111px;
  height: 48px;
  text-decoration: none;
  line-height: 20px;
}
/* line 1160, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 .curprice {
  width: 205px;
  height: 30px;
  margin: 6px 0 0;
  font-size: 18px;
  color: #ff1e32;
}
/* line 1166, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 .curprice strong {
  font-size: 20px;
  font-weight: 700;
  margin-left: -5px;
}
/* line 1172, ../sass/_top.scss */
.fli3 .fli3_2 .fli3_xia .xia_you .nr .nr_1 .item2 {
  color: #999;
  margin: 0 0 0 12px;
  font-size: 14px;
}
/* line 1181, ../sass/_top.scss */
.fli3 .fli3_2 .w-list {
  width: 1098px;
  height: 216px;
  margin: 20px 0 40px;
  border: 1px solid #eaeaea;
  line-height: 167px;
  background: #fff;
}
/* line 1188, ../sass/_top.scss */
.fli3 .fli3_2 .w-list .w-li {
  width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-indent: 20px;
  line-height: 48px;
  height: 48px;
  border-bottom: 1px solid #eaeaea;
}
/* line 1198, ../sass/_top.scss */
.fli3 .fli3_2 .w-list .divll {
  width: 1098px;
  height: 166px;
}
/* line 1201, ../sass/_top.scss */
.fli3 .fli3_2 .w-list .divll .ssa {
  display: inline-block;
  float: left;
  width: 218.5px;
  height: 166px;
  text-align: center;
  line-height: 166px;
  border-right: 1px solid #eaeaea;
}
/* line 1210, ../sass/_top.scss */
.fli3 .fli3_2 .w-list .divll .ssa img {
  width: 120px;
  height: 120px;
  line-height: 120px;
  display: inline-block;
}
/* line 1218, ../sass/_top.scss */
.fli3 .fli3_2 .w-list .divll .ss {
  border-right: none;
}

/* line 1227, ../sass/_top.scss */
.vop {
  width: 1519px;
  height: 410px;
  background: #fff;
}
/* line 1231, ../sass/_top.scss */
.vop .weibu {
  width: 1519px;
  height: 148px;
  margin-top: 80px;
}
/* line 1235, ../sass/_top.scss */
.vop .weibu .ba {
  width: 1100px;
  height: 148px;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
  z-index: 5;
}
/* line 1241, ../sass/_top.scss */
.vop .weibu .ba ul {
  width: 1100px;
  height: 48px;
  padding: 49px 0;
}
/* line 1245, ../sass/_top.scss */
.vop .weibu .ba ul .lis {
  width: 233px;
  height: 48px;
  float: left;
  margin-left: 42px;
}
/* line 1250, ../sass/_top.scss */
.vop .weibu .ba ul .lis .btmIcon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-right: 12px;
}
/* line 1263, ../sass/_top.scss */
.vop .weibu .ba ul .lis .titi {
  width: 233px;
  height: 22px;
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 22px;
}
/* line 1271, ../sass/_top.scss */
.vop .weibu .ba ul .lis .desc {
  width: 233px;
  height: 22px;
  font-size: 14px;
}
/* line 1280, ../sass/_top.scss */
.vop .weibu_2 {
  width: 1519px;
  height: 263px;
}
/* line 1283, ../sass/_top.scss */
.vop .weibu_2 .wei {
  width: 1100px;
  height: 263px;
  margin: 0 auto;
}
/* line 1287, ../sass/_top.scss */
.vop .weibu_2 .wei ul {
  width: 100%;
  height: 128px;
  padding: 45px 0 90px;
}
/* line 1291, ../sass/_top.scss */
.vop .weibu_2 .wei ul .first {
  width: 218px;
  height: 128px;
  padding-right: 40px;
  float: left;
}
/* line 1296, ../sass/_top.scss */
.vop .weibu_2 .wei ul .first img {
  display: block;
  width: 218px;
  height: 43px;
  line-height: 45px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}
/* line 1305, ../sass/_top.scss */
.vop .weibu_2 .wei ul .first .focuson {
  width: 218px;
  height: 32px;
}
/* line 1308, ../sass/_top.scss */
.vop .weibu_2 .wei ul .first .focuson .label {
  height: 32px;
  line-height: 32px;
  float: left;
}
/* line 1313, ../sass/_top.scss */
.vop .weibu_2 .wei ul .first .focuson img {
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
}
/* line 1321, ../sass/_top.scss */
.vop .weibu_2 .wei ul .f-wd100 {
  width: 80px;
  height: 128px;
  padding: 0 0 0 21px;
  float: left;
}
/* line 1326, ../sass/_top.scss */
.vop .weibu_2 .wei ul .f-wd100 dt {
  width: 80px;
  height: 27px;
  margin: -4px 0 10px;
}
/* line 1330, ../sass/_top.scss */
.vop .weibu_2 .wei ul .f-wd100 dt em {
  font-size: 18px;
  font-weight: 400;
}
/* line 1335, ../sass/_top.scss */
.vop .weibu_2 .wei ul .f-wd100 dd {
  line-height: 29px;
  width: 80px;
  height: 29px;
}
/* line 1339, ../sass/_top.scss */
.vop .weibu_2 .wei ul .f-wd100 dd a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}
/* line 1347, ../sass/_top.scss */
.vop .weibu_2 .wei ul .item {
  width: 108px;
  height: 128px;
  padding: 0;
  text-align: center;
  margin-left: 10px;
  float: left;
}
/* line 1354, ../sass/_top.scss */
.vop .weibu_2 .wei ul .item img {
  width: 108px;
  height: 108px;
  margin: 0 0 6px;
}
/* line 1359, ../sass/_top.scss */
.vop .weibu_2 .wei ul .item span {
  font-size: 13px;
}

/* line 1368, ../sass/_top.scss */
.abo {
  background: #333;
  width: 1519px;
  height: 151px;
}
/* line 1372, ../sass/_top.scss */
.abo .aboutNEST {
  position: relative;
  line-height: 26px;
  text-align: center;
  width: 100%;
  height: 112px;
  padding: 20px 0;
  color: #c2c2c2;
  font-size: 12px;
}
/* line 1381, ../sass/_top.scss */
.abo .aboutNEST a {
  text-decoration: none;
  color: #c2c2c2;
}
/* line 1385, ../sass/_top.scss */
.abo .aboutNEST .m-license {
  margin-left: 20px;
}
/* line 1388, ../sass/_top.scss */
.abo .aboutNEST .tu5 {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}
/* line 1393, ../sass/_top.scss */
.abo .aboutNEST .tu6 {
  margin-top: 5px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
/* line 1399, ../sass/_top.scss */
.abo .aboutNEST .tu7 {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 10px;
}

/* line 1, ../sass/xuanran.scss */
.xr {
  width: 1519px;
  height: 445px;
  margin-top: 60px;
}
/* line 5, ../sass/xuanran.scss */
.xr .app {
  width: 1100px;
  height: 445px;
  margin: 0 auto;
}
/* line 9, ../sass/xuanran.scss */
.xr .app h4 {
  width: 1100px;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 22px;
  padding: 20px 0 5px;
  margin-right: 10px;
}
/* line 18, ../sass/xuanran.scss */
.xr .app h4 .abcd {
  font-size: 13px;
  color: #666;
  font-weight: 400;
}
/* line 24, ../sass/xuanran.scss */
.xr .app .ap_xia {
  width: 1120px;
  margin: 0 -10px;
  height: 382px;
}
/* line 28, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo {
  margin: 0 10px;
  width: 260px;
  height: 382px;
  border: 0;
  float: left;
}
/* line 34, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo img {
  width: 180px;
  height: 180px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  padding: 39px;
}
/* line 41, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}
/* line 46, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix {
  width: 260px;
  height: 24px;
  padding: 0 15px 0 0;
}
/* line 50, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix .price {
  line-height: 14px;
  font-weight: 700;
  font-size: 20px;
}
/* line 54, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix .price .symbol {
  float: left;
  color: #ff1e32;
  line-height: 14px;
  font-weight: 500;
  font-size: 16px;
}
/* line 60, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix .price .symbol .symboo {
  color: #ff1e32;
  line-height: 14px;
  font-weight: 700;
  font-size: 20px;
  margin-left: -5px;
}
/* line 68, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix .price .marprice {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}
/* line 74, ../sass/xuanran.scss */
.xr .app .ap_xia .app_zuo .clearfix .price .comment {
  float: right;
  text-decoration: none;
  height: 24px;
  line-height: 20px;
  color: #999;
  font-size: 12px;
}
