/* line 5, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_top.scss */
.fenlei_wz {
  line-height: 40px;
  color: beige;
  font-size: 14px;
}

/* line 12, ../sass/_top.scss */
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #f6f6f6;
}

/* line 18, ../sass/_top.scss */
.top {
  width: 100%;
  height: 30px;
  background: black;
}
/* line 22, ../sass/_top.scss */
.top .top_ {
  width: 1090px;
  height: 30px;
  margin: 0 auto;
  display: flex;
}
/* line 27, ../sass/_top.scss */
.top .top_ .top_zuo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 272px;
  height: 30px;
}
/* line 33, ../sass/_top.scss */
.top .top_ .top_zuo .hello {
  color: #949393;
  font-size: 12px;
}
/* line 39, ../sass/_top.scss */
.top .top_ .kaola {
  width: 72px;
  height: 30px;
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 48, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi {
  color: #949393;
  font-size: 12px;
}
/* line 51, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian {
  width: 116px;
  height: 160px;
  padding: 5px 5px 0 5px;
  border: 1px solid black;
  background: blanchedalmond;
  position: absolute;
  left: -10px;
  top: 30px;
  z-index: 10;
  display: none;
}
/* line 62, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian .kaola_img {
  width: 116px;
  height: 116px;
}
/* line 66, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi .kaola_tupian .ac {
  width: 116px;
  height: 43px;
  font-size: 13px;
  color: black;
  line-height: 18px;
}
/* line 75, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi:hover {
  color: beige;
  cursor: pointer;
}
/* line 79, ../sass/_top.scss */
.top .top_ .kaola .kaola_wenzi:hover .kaola_tupian {
  display: block;
}
/* line 83, ../sass/_top.scss */
.top .top_ .top_zhong {
  width: 167px;
  height: 30px;
}
/* line 87, ../sass/_top.scss */
.top .top_ .top_you {
  width: 651px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 93, ../sass/_top.scss */
.top .top_ .top_you .hello {
  color: #949393;
  font-size: 12px;
}
/* line 97, ../sass/_top.scss */
.top .top_ .top_you .icon-xiasanjiaoxing {
  font-size: 10px;
}
/* line 101, ../sass/_top.scss */
.top .top_ .wo:hover {
  color: beige;
  cursor: pointer;
}

/* line 109, ../sass/_top.scss */
.tou_ding {
  width: 1519px;
  height: 100px;
  background: #fff;
}
/* line 113, ../sass/_top.scss */
.tou_ding .tou {
  width: 1090px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 122, ../sass/_top.scss */
.tou_ding .tou .kl {
  width: 280px;
  height: 65px;
}
/* line 127, ../sass/_top.scss */
.tou_ding .tou .sskuang_da {
  height: 40px;
  width: 510px;
  display: flex;
  border: 2px solid red;
  border-radius: 50px;
  position: relative;
}
/* line 134, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .sskuang {
  position: absolute;
  width: 410px;
  height: 24px;
  top: 5px;
  left: 15px;
  border: none;
  outline: none;
}
/* line 143, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .sousuo {
  width: 60px;
  height: 40px;
  border-radius: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  position: absolute;
  left: 455px;
}
/* line 153, ../sass/_top.scss */
.tou_ding .tou .sskuang_da .icon-sousuo {
  width: 50px;
  height: 40px;
  font-size: 24px;
  color: beige;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 7px;
}
/* line 164, ../sass/_top.scss */
.tou_ding .tou .gouwu {
  width: 110px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}
/* line 173, ../sass/_top.scss */
.tou_ding .tou .gouwu .icon-gouwuche {
  width: 20px;
  height: 20px;
  color: red;
  font-size: 27px;
  margin-top: -7px;
  font-weight: 550;
}
/* line 181, ../sass/_top.scss */
.tou_ding .tou .gouwu .gouwc {
  font-size: 16px;
}

/* line 189, ../sass/_top.scss */
.xuanfu {
  width: 1519px;
  height: 50px;
  background: #fff;
  position: fixed;
  top: 0px;
  z-index: 103;
  display: none;
}
/* line 197, ../sass/_top.scss */
.xuanfu .xuanfu_zhong {
  width: 1090px;
  height: 50px;
  margin: 0 auto;
}
/* line 201, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .tu {
  width: 162px;
  height: 40px;
  margin-right: 200px;
  float: left;
}
/* line 207, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da {
  float: left;
  height: 40px;
  width: 510px;
  display: flex;
  border: 2px solid red;
  border-radius: 50px;
  position: relative;
}
/* line 215, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .sskuang {
  position: absolute;
  width: 410px;
  height: 24px;
  top: 5px;
  left: 15px;
  border: none;
  outline: none;
}
/* line 224, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .sousuo {
  width: 60px;
  height: 40px;
  border-radius: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  position: absolute;
  left: 455px;
}
/* line 234, ../sass/_top.scss */
.xuanfu .xuanfu_zhong .sskuang_da .icon-sousuo {
  width: 50px;
  height: 40px;
  font-size: 24px;
  color: beige;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 7px;
}

/* line 248, ../sass/_top.scss */
.ding {
  width: 1519px;
  height: 40px;
  background: #fff;
}
/* line 252, ../sass/_top.scss */
.ding .daohanl {
  width: 1090px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}
/* line 259, ../sass/_top.scss */
.ding .daohanl .bao {
  width: 164px;
  height: 280px;
  margin-right: 20px;
  z-index: 100;
}
/* line 265, ../sass/_top.scss */
.ding .daohanl .bao .fenlei {
  width: 164px;
  height: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  border-bottom: 1px solid beige;
}
/* line 271, ../sass/_top.scss */
.ding .daohanl .bao .fenlei .icon-fenlei {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 278, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 {
  width: 164px;
  height: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  border-bottom: 1px solid beige;
  position: relative;
}
/* line 285, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .icon-meizhuang {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 291, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav {
  width: 931px;
  height: 460px;
  background: #fff;
  position: absolute;
  left: 164px;
  top: 0;
  display: none;
}
/* line 299, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo {
  float: left;
  width: 658px;
  height: 460px;
  margin: 0px 20px 0px 15px;
  position: relative;
}
/* line 306, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang {
  width: 658px;
  height: 187px;
  display: flex;
}
/* line 310, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 317, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo {
  width: 329px;
  height: 187px;
}
/* line 320, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 327, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei {
  width: 283px;
  height: 136px;
}
/* line 330, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 340, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .hong {
  color: #ff1e32;
}
/* line 343, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_zuo .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 348, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you {
  width: 329px;
  height: 153px;
}
/* line 351, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 358, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei {
  width: 283px;
  height: 102px;
}
/* line 361, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 371, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .hong {
  color: #ff1e32;
}
/* line 374, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_shang .f_zuo_shang_you .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 380, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong {
  display: flex;
  width: 658px;
  height: 187px;
  position: relative;
}
/* line 385, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 392, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo {
  width: 329px;
  height: 187px;
}
/* line 395, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 402, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei {
  width: 283px;
  height: 136px;
}
/* line 405, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 415, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .hong {
  color: #ff1e32;
}
/* line 418, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_zuo .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 423, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you {
  width: 329px;
  height: 153px;
}
/* line 426, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 433, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei {
  width: 283px;
  height: 102px;
}
/* line 436, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 446, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .hong {
  color: #ff1e32;
}
/* line 449, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_zhong .f_zuo_zhong_you .titie_nei .cde2:hover {
  text-decoration: underline;
}
/* line 455, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia {
  width: 658px;
  height: 86px;
  position: relative;
}
/* line 459, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .xian {
  width: 642px;
  height: 1px;
  position: absolute;
  top: 34px;
  background: #eaeaea;
}
/* line 466, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie {
  width: 275px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
}
/* line 473, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 {
  width: 283px;
  height: 51px;
}
/* line 478, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .cde2 {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -8px;
  font-size: 13px;
}
/* line 488, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .hong {
  color: #ff1e32;
}
/* line 491, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_zuo .f_zuo_xia .titie_nei2 .cde2:hover {
  text-decoration: underline;
}
/* line 497, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you {
  float: right;
  width: 233px;
  height: 460px;
}
/* line 501, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_shang {
  width: 218px;
  height: 322px;
  padding: 9px 8px 0 11px;
  background: #f6f6f6;
}
/* line 506, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_shang .blank {
  float: left;
  width: 105px;
  height: 104px;
  padding: 2px;
}
/* line 513, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_xia {
  width: 237px;
  height: 128px;
  background: #f6f6f6;
}
/* line 517, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2 .sub_nav .f_you .f_you_xia .blan {
  width: 208px;
  height: 88px;
  padding: 20px 18px 20px 11px;
}
/* line 526, ../sass/_top.scss */
.ding .daohanl .bao .fenlei2:hover .sub_nav {
  display: block;
}
/* line 529, ../sass/_top.scss */
.ding .daohanl .bao .icon-muying {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 535, ../sass/_top.scss */
.ding .daohanl .bao .icon-shumajiadianleimu {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 541, ../sass/_top.scss */
.ding .daohanl .bao .icon-xihu {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 547, ../sass/_top.scss */
.ding .daohanl .bao .icon-fushi {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 553, ../sass/_top.scss */
.ding .daohanl .bao .icon-meishi- {
  line-height: 40px;
  padding: 15px;
  color: beige;
  font-weight: 600;
}
/* line 561, ../sass/_top.scss */
.ding .daohanl .daohan_lan {
  width: 735px;
  height: 40px;
}
/* line 564, ../sass/_top.scss */
.ding .daohanl .daohan_lan .ulo {
  width: 735px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 570, ../sass/_top.scss */
.ding .daohanl .daohan_lan .ulo .li1 {
  font-weight: 600;
  line-height: 40px;
  height: 40px;
}

/* line 580, ../sass/_top.scss */
.guanggao {
  width: 1920px;
  height: 505px;
  position: relative;
  margin-bottom: 20px;
}
/* line 586, ../sass/_top.scss */
.guanggao .imgs {
  width: 100%;
  height: 505px;
  left: -200px;
  position: absolute;
}
/* line 592, ../sass/_top.scss */
.guanggao .yuan {
  width: 95px;
  height: 9px;
  position: absolute;
  left: 450px;
  bottom: 100px;
}
/* line 598, ../sass/_top.scss */
.guanggao .yuan .yxing {
  float: left;
  display: block;
  width: 9px;
  height: 9px;
  margin-right: 10px;
}
/* line 604, ../sass/_top.scss */
.guanggao .yuan .yxing .yxing_tu {
  display: block;
  height: 9px;
  border-radius: 50%;
  background: #fff;
}
/* line 612, ../sass/_top.scss */
.guanggao .imgs_touming {
  width: 1519px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0px;
}
/* line 618, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei {
  width: 1090px;
  height: 44px;
  margin: 0 auto;
}
/* line 622, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo {
  width: 468px;
  height: 44px;
}
/* line 625, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo .imgs_a {
  width: 77px;
  height: 44px;
  text-decoration: none;
  margin-right: 40px;
}
/* line 630, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_zuo .imgs_a .imgs_a_sp {
  margin-left: 7px;
  font-size: 12px;
  line-height: 44px;
  color: beige;
}
/* line 638, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_a:hover .imgs_a_sp {
  text-decoration: underline;
  color: beige;
}
/* line 642, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_you {
  width: 256px;
  height: 44px;
  position: absolute;
  bottom: 0px;
  right: 215px;
}
/* line 648, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_you .imgs_b {
  font-size: 12px;
  line-height: 44px;
  color: beige;
  text-decoration: none;
}
/* line 655, ../sass/_top.scss */
.guanggao .imgs_touming .imgs_nei .imgs_b:hover {
  text-decoration: underline;
  color: beige;
}

/* line 663, ../sass/_top.scss */
#content {
  width: 100%;
  height: 370px;
  position: relative;
  margin-top: 20px;
}
/* line 668, ../sass/_top.scss */
#content .content-center {
  width: 1090px;
  height: 100%;
  margin: 0 auto;
  background: url(../images/neirong.png) -400px 0;
  overflow: hidden;
}
/* line 676, ../sass/_top.scss */
#content .center_left {
  width: 99px;
  height: 653px;
  border: 1px solid #eaeaea;
  border-top: none;
  position: absolute;
  top: 0px;
  left: 80px;
}
/* line 685, ../sass/_top.scss */
#content .center_left img {
  width: 99px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}
/* line 692, ../sass/_top.scss */
#content .center_left .channel {
  width: 99px;
  height: 103px;
  background: #fff;
}
/* line 696, ../sass/_top.scss */
#content .center_left .channel .ab {
  width: 97px;
  height: 51px;
  border-bottom: 1px solid #eaeaea;
}
/* line 700, ../sass/_top.scss */
#content .center_left .channel .ab .j_floor {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 9px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}
/* line 712, ../sass/_top.scss */
#content .center_left .channel2 {
  width: 99px;
  height: 373px;
  background: #fff;
}
/* line 716, ../sass/_top.scss */
#content .center_left .channel2 .ac {
  width: 97px;
  height: 32px;
}
/* line 719, ../sass/_top.scss */
#content .center_left .channel2 .ac .q_floor {
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 9px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}
/* line 730, ../sass/_top.scss */
#content .center_left .tu1 {
  width: 100%;
  height: 128px;
  vertical-align: middle;
  display: inline-block;
}
/* line 737, ../sass/_top.scss */
#content .center_right {
  width: 62px;
  height: 243px;
  background: lightcoral;
  float: right;
  position: absolute;
  top: 0px;
  right: 100px;
  border: 1px solid #eaeaea;
}
/* line 746, ../sass/_top.scss */
#content .center_right .li2 {
  width: 62px;
  height: 49px;
  display: block;
  padding: 12px 0 0;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
/* line 756, ../sass/_top.scss */
#content .center_right .li2 .iconfont {
  width: 20px;
  height: 20px;
}
/* line 760, ../sass/_top.scss */
#content .center_right .li2 span {
  margin-top: 3px;
  width: 62px;
  height: 17px;
  display: inline-block;
}

/* line 770, ../sass/_top.scss */
.fli2 {
  width: 1519px;
  height: 455px;
  margin-top: 40px;
}
/* line 774, ../sass/_top.scss */
.fli2 .fli2_2 {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
  position: relative;
}
/* line 780, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang {
  width: 1100px;
  height: 48px;
  padding-top: 25px;
}
/* line 784, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-right: 10px;
}
/* line 790, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big_1 {
  display: inline-block;
  color: #ccc;
  font-size: 15px;
}
/* line 795, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .collapse {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  text-align: center;
  color: #fff;
  line-height: 20px;
}
/* line 805, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .split-dot {
  display: inline-block;
  color: #ccc;
  font-weight: 600;
}
/* line 810, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_shang .big_3 {
  position: absolute;
  top: 26px;
  right: 0;
  color: #999;
}
/* line 817, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia {
  width: 1101px;
  height: 380px;
}
/* line 820, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 {
  width: 841px;
  height: 381px;
}
/* line 823, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li {
  width: 420px;
  height: 190px;
  background: lightskyblue;
}
/* line 827, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li img {
  display: inline-block;
  float: left;
  width: 188px;
  height: 188px;
}
/* line 833, ../sass/_top.scss */
.fli2 .fli2_2 .fli2_2_xia .ul2 .ul2_li .li_you {
  float: left;
  width: 205px;
  height: 188px;
}
